In [66]:
import os
from PIL import Image
import numpy as np
import pandas as pd
from collections import Counter

In [55]:
data = []
for directory in os.listdir('../data/'):
    label = int(directory[4:])
    for imagepath in os.listdir('../data/' + directory):
        image = Image.open(os.path.join('../data/', directory + '/'+ imagepath))
        data.append((np.asarray(image), label))
        image.close()
print(len(data))
print(data[0])

1125
(array([[[250, 244, 248],
        [250, 241, 249],
        [250, 243, 246],
        ...,
        [244, 240, 244],
        [247, 240, 248],
        [245, 240, 247]],

       [[247, 244, 247],
        [250, 245, 247],
        [249, 243, 247],
        ...,
        [241, 240, 248],
        [245, 242, 247],
        [247, 240, 247]],

       [[251, 242, 247],
        [247, 241, 247],
        [249, 245, 247],
        ...,
        [242, 240, 244],
        [245, 242, 248],
        [247, 240, 247]],

       ...,

       [[255, 251, 255],
        [255, 248, 255],
        [255, 250, 255],
        ...,
        [248, 245, 251],
        [249, 249, 254],
        [252, 247, 253]],

       [[255, 250, 255],
        [255, 250, 255],
        [255, 250, 255],
        ...,
        [250, 244, 251],
        [252, 245, 252],
        [251, 246, 251]],

       [[255, 251, 255],
        [255, 249, 255],
        [255, 250, 255],
        ...,
        [249, 245, 251],
        [250, 247, 253],
        [252, 247, 253]]], dtype=uint8), 1)

In [58]:
df = pd.DataFrame(images, columns=['images', 'labels'])
df.head()

                                              images  labels
0  [[[250, 244, 248], [250, 241, 249], [250, 243,...       1
1  [[[251, 247, 253], [253, 246, 253], [249, 248,...       1
2  [[[248, 242, 248], [248, 242, 248], [248, 242,...       1
3  [[[251, 246, 252], [252, 246, 252], [248, 245,...       1
4  [[[251, 245, 253], [250, 247, 250], [250, 245,...       1

In [67]:
Counter(df['labels'])

Counter({1: 75,
         10: 75,
         11: 75,
         12: 75,
         13: 75,
         14: 75,
         15: 75,
         2: 75,
         3: 75,
         4: 75,
         5: 75,
         6: 75,
         7: 75,
         8: 75,
         9: 75})